prm-search-result-availability-line span.csidsAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_available.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

prm-search-result-availability-line span.csidsUnAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_unavailable_grey.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

prm-search-result-availability-line span.csidsMayBeAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_yellow.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

/*LIB*//* Reposition borrower record icon*/
md-icon[md-svg-icon="primo-ui:account-card-details"]{
    position: relative;
    top: -8px!important;
}

/*LIB Reposition my borrower record text*/
span[translate="nui.menu.librarycard"]{
	top: 7px !important;
	position: relative;
}

/* LIB Hide default summary status*/
div[ng-repeat~=availability] {
    display: none;
}