/*Show the default content boxes (20161220 William NG LIB)*/
md-card.default-card {
    display:inline !important;
}


/*Style for the front page boxes (1)*/
#OUHKHomeContainer{
	width:98%; margin-left:1%; margin-right:1%;
	padding-left:0%; padding-right:0%; padding-top:0px; padding-bottom:0px;
	border:solid; border-width:0px ; border-color:green;
}

/*Style for the front page boxes (2)*/
#OUHKHomeLeftColumn{
	float:left; width:62%; margin-left:0%; margin-right:0%;
	padding-left:0%; padding-right:0%; padding-top:0px; padding-bottom:0px;
	border:solid; border-width:0px; border-color:cyan;
}

/*Style for the front page boxes (3)*/
#OUHKHomeRightColumn p { color:#4a4d51}

/*Style for the front page boxes (4)*/
#OUHKHomeLeftColumn{
	width:55%; margin-left:0%; margin-right:1%; float:left;
	padding-left:0%; padding-right:0%; padding-top:0px; padding-bottom:0px;
	border:solid; border-width:0px; border-color:blue;
}

/*Style for the front page boxes (5)*/
#OUHKHomeLeftColumn ul {list-style:none}

/*Style for the front page boxes (6)*/
#OUHKHomeRightColumn{
	float:right; width:35%; margin-left:0%; margin-right:0%;
	padding-left:0%; padding-right:0%; padding-top:7px; padding-bottom:0px;
	border:solid; border-width:0px ; border-color:pink;
}

/*Style for the front page boxes (7)*/
#OUHKHomeContainer div.OULIBBodyRightFrame{
	width:340px; margin-left:auto; margin-right:auto;
	padding-left:0%; padding-right:0%; padding-top:0px; padding-bottom:0px;
	border:solid; border-width:0px ; border-color:cyan;
}

/*Style for the front page boxes (8)*/
#OUHKHomeContainer div.OULIBBodyRight div.OULIBBodyRightFrame div.OULIBSlideContainer{
	width:340px; overflow:hidden; border:solid; border-width:0px ; border-color:blue;
}

/*Style for the front page boxes (9)*/
#OUHKHomeContainer div.OULIBBodyRightFrame div.OULIBNewsContainer{
	width:335px; margin-left:0%; margin-right:0%; padding-left:1%; padding-right:0%; padding-top:0.5em; padding-bottom:0em;
	border:solid; border-width:1px ; border-color:#CCCCCC;
}

/*Hide virutal browse */
div[id="virtualBrowse"]{
	display: none;
}
button[aria-label="相關圖書"]{
	display:none;
}
button[aria-label="Similar Titles"]{
	display:none;
}
button[aria-label="相关图书"]{
	display:none;
}

prm-search-result-availability-line span.csidsAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_available.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

prm-search-result-availability-line span.csidsUnAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_unavailable_grey.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

prm-search-result-availability-line span.csidsMayBeAvailable {
    background-image: url(../../../../primo_library/libweb/images/icon_yellow.png);
    background-repeat: no-repeat;
    background-position: 0px 5px;
    position: absolute;
    padding-left: 15px;	
}

/*LIB*//* Reposition borrower record icon*/
md-icon[md-svg-icon="primo-ui:account-card-details"]{
    position: relative;
    top: -8px!important;
}

/*LIB Reposition my borrower record text*/
span[translate="nui.menu.librarycard"]{
	top: 7px !important;
	position: relative;
}

/* LIB Hide default summary status*/
div[ng-repeat~=availability] {
    display: none;
}